[submodule "blackparrot/rtl"]
	path = blackparrot/rtl
	url = git@github.com:black-parrot/black-parrot.git
  branch = dev
  ignore = all
[submodule "blackparrot/sdk"]
	path = blackparrot/sdk
	url = git@github.com:black-parrot-sdk/black-parrot-sdk.git
	branch = master
